.color {
    color: rgb(175, 9, 9);
    letter-spacing: 10px;
    margin: auto;
}
img {
    width: 400px;
    height: 267px;
    
}
#thirDiv {
    width: 500px;
    height: 600px;
    
}
#spanId {
    color: azure;
    font-size: 18px;
    margin: 50px;
}
body {
 background-image: url(https://cdn.wallpapersafari.com/42/92/x1JIbB.jpg);

}
.contenedor {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}